*{
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.links{
    text-decoration: none;
}


/*===============  Home Page  ====================================*/

/*navBar*/
#header{
    backdrop-filter: blur(10px);
    width: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.87);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border-bottom: 4px solid #FE613C;*/
}

#logo img{
    width: 60px;
    left: 30px;
    position: relative;
}

#navBar{
    display: flex;
}
#navBar>li{
    position: relative;
}
#navBar a{
    font-size: 1rem;
    padding-right: 40px;
    color: white;
    font-weight: 1000;
}
#navBar a::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: #FE613C;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}
#navBar a:hover::after{
    width: 100%;
}

/*====================================================*/


/*Homepage 1st Section*/

#mainSec{
    width: 100%;
    min-height: 650px;
    /*min-height: 100vh;*/
    background: url("../img/Car Website – 1@2x.png");
    background-size: cover;
    background-position: center;
}

#textSec{
    width: 460px;
    margin-left: 185px;
    padding-top: 147px;
}

.homeText{
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
    color: #000000d9;
}
#easyCarText{
    font-size: 60px;
    background-color: #FFCC01;
}

#circleDiv{
    background-color: black;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    position: absolute;
    left: 624px;
    top: 288px;
}

#upperText{
    position: absolute;
    left: 38%;
    bottom: 66px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
}
#lowerText{
    position: absolute;
    left: 45%;
    bottom: 60px;
    color: rgba(0, 0, 0, 0.54);
}

#socialIcons{
    position: absolute;
    width: 11%;
    right: 13%;
    top: 90%;
}
.fa-brands:hover {
    color: white;
}

#btnBookNow{
    background-color: #474fa0;
    height: 3rem;
    width: 10rem;
}
#btnBookNow:hover{
    background-color: #FE613C;
}

/*===================================================================*/



/*HomePage 2nd Secton*/

#secTwo{
    background-color: #000000;
    min-height: 600px;
}

#whyText{
    font-size: 3.5rem;
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Abril Fatface', cursive;
}
#icon1{
    width: 100px;
    height: 100px;
}
#icon2{
    width: 100px;
    height: 100px;
}
#icon3{
    width: 100px;
    height: 100px;
}
#CountsDiv{
    padding-left: 200px;
    padding-top: 30px;
}
.textOfCount{
    color: #FE613C;
}

/*======================================================*/


/*HomePage 3rd Secton*/

#secThree{
    background-color: #EEEFF1;
}
#witinOneHourText{
    font-family: 'Tilt Warp', cursive;
}
#btnSignUpLater{
    background-color: #FFCC01;
    height: 3rem;
    width: 10rem;
}
#conUsText{
    color: #474fa0;
}
#howItText{
    color: #474fa0;
}
.lastLinks:hover{
    color: #FE693C!important;
}
#developedByDiv{
    height: 3.5rem;
    background-color: black;
}
.socialIconsDown:hover{
    color: #FD5F3C!important;
}



/*Scroll bar*/
html::-webkit-scrollbar{
    width: 0.5rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 5rem;
}


